*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-home{
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #f3f3f3;
    border-radius: 3px;
}

.menu-left {
    left: 0;
    color: #fff;
    width: 25%;
    background-color: #0e0f58f3;
    text-align: center;
    
}
.menu-left .menu-left-text {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}
.page-store{
    padding-left: 0;
}
.page-store .page-item {
    list-style: none;
    
}

.page-store .page-item:hover {
    background-color: #32338ff3;
    cursor: pointer;
}


.page-store .page-item .page-link {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
    
}

.page-store .page-item .page-link:hover {
    color: rgba(255, 255, 255, 1);
}

.menu-right{
    width: 75%;
    padding: 20px;
}

.header-menu-right{
    height: 70px;
}

.header-menu-right .menu-right-text{
    text-align: center;
    color: #070069;
    margin-bottom: 50px
}

.body-menu-right-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.body-menu-right-top .btn-filter {
    background-color: #0a0458;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 3px;
}

.btn-filter:hover {
    background-color: #32338ff3;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 3px;
}

.body-menu-right-top {
    font-weight: 600;
    color: #070069;
    display: flex;
    justify-content: space-between;
}


.body-menu-right-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body-menu-right-bottom .body-menu-right-item {
    background-color: #ffffff;
    color: #0a0458;
    width: 29.5%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgb(202, 202, 202);
    position: relative; 
    height: 220px;
}

.milk-tea-id {
    font-weight: 450;
}

.milk-tea-toppings {
    font-weight: 500;
}

.milk-tea-price {
    font-weight: 500;
    display: flex;
    align-self: flex-end; 
    justify-content: flex-end;
    bottom: 0; 
    right: 0; 
    margin-top: 20px;
} 

.toppings {
    background-color: #fff;
    border: 2px;
    padding: 15px;
}

.toppings li {
    margin-right: 60px;
}

.body-menu-right-item-footer {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    width: 100%; 
    text-align: right; 
    padding: 10px; 
    box-sizing: border-box;
    
}